.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.search-input {
  padding: 10px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  margin-right: 10px;
}
