* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #6b4bbc;
  --gray-200: #f3f4f6;
  --gray-300: #e5e7eb;
  --gray-500: #9ca3af;
  --gray-700: #4b5563;
  --white: #fff;
  --black: #000;
  --red-500: #ef4444;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 248);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
